{% extends 'core/base_auth.html' %} 
{% block title %}Recuperar Senha{% endblock %}

{% block content %}
    <h1>Recuperar Senha</h1>
    <p style="margin-bottom: 20px; font-size: 0.9em;">Insira seu e-mail para receber um link de redefinição.</p>
    
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_email">E-mail:</label>
            <input type="email" name="email" required id="id_email" class="form-control" placeholder="Digite seu e-mail cadastrado">
        </div>
        <button type="submit">Enviar Link</button>
    </form>
    
    <div class="links">
        <a href="{% url 'login' %}">← Voltar para o Login</a>
    </div>
{% endblock %}