# Pacotes principais
Django~=5.2.6

# Pacote para manipulação de PDF (usado em upload/views.py)
pypdf2
pdfplumber
unidecode

# Pacote para a API de IA do Google (Gemini)
google-generativeai
python-dotenv
# Para SQLite, que é o seu banco de dados atual
# Nenhum pacote adicional é necessário para sqlite3, pois ele é nativo do Python.

# Pacotes para produção (opcional, mas recomendado)
# gunicorn # Descomente se for usar o gunicorn em produção