# Pacotes principais
Django~=5.2.6

# Banco de Dados e SQL
# Nota: sqlite3 é nativo do Python, não precisa listar aqui.
sqlparse       # Auxiliar do Django para manipulação de SQL

# Manipulação de PDF (Upload e Leitura)
pypdf2
pdfplumber

# Geração de PDF (Relatórios)
reportlab

# Processamento de Texto
unidecode

# Inteligência Artificial (Google Gemini)
google-generativeai
google-genai

# Variáveis de Ambiente (.env)
python-dotenv