{% extends 'core/base.html' %}

{% block title %}Editar Disciplina{% endblock %}
{% block page_title %}Editar Disciplina{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
        </div>
        {% endfor %}
        <div class="form-buttons">
            
            <a href="{% url 'listar_disciplinas' %}" class="cancel-button">Cancelar</a>
            <button type="submit" class="cta-button">Salvar Alterações</button>
        </div>
    </form>
{% endblock %}