{% extends 'core/base.html' %}

{% block title %}Excluir Disciplina{% endblock %}
{% block page_title %}Excluir Disciplina{% endblock %}

{% block content %}
    <h1>Você tem certeza que deseja excluir a disciplina "{{ disciplina.nome }}"?</h1>
    <form method="post" style="text-align: center;">
        {% csrf_token %}
        <div class="form-buttons" style="justify-content: center; gap: 20px;">
            <a href="{% url 'listar_disciplinas' %}" class="cancel-button">Cancelar</a>
            <button type="submit" class="delete-button">Sim, Excluir</button>
        </div>
    </form>
{% endblock %}