{% extends 'core/base.html' %}
{% load static %}

{% block title %}Gerenciar Matrizes Curriculares{% endblock %}

{% block content %}
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
        <a href="{% url 'painel' %}" class="cancel-button">Voltar</a>
        <h1 style="margin: 0; text-align: center; flex-grow: 1;">Gerenciar Matrizes Curriculares</h1>
        <a href="{% url 'adicionar_matriz' %}" class="cta-button">Adicionar </a>
    </div>

    <div class="content-card">
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Curso</th>
                    <th>Ano</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for matriz in matrizes %}
                <tr>
                    <td>{{ matriz.nome }}</td>
                    <td>{{ matriz.curso }}</td>
                    <td>{{ matriz.ano_referencia }}</td>
                    <td style="display: flex; gap: 10px;">
                        <a href="{% url 'editar_matriz' matriz.pk %}"><i class="fas fa-pen-to-square"></i></a>
                        <a href="{% url 'excluir_matriz' matriz.pk %}" style="color: #dc3545;"><i class="fas fa-trash-can"></i></a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">Nenhuma matriz curricular encontrada.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if matrizes.has_previous %}
                    <a href="?page=1">&laquo; primeira</a>
                    <a href="?page={{ matrizes.previous_page_number }}">anterior</a>
                {% endif %}

                <span class="current">
                    Página {{ matrizes.number }} de {{ matrizes.paginator.num_pages }}.
                </span>

                {% if matrizes.has_next %}
                    <a href="?page={{ matrizes.next_page_number }}">próxima</a>
                    <a href="?page={{ matrizes.paginator.num_pages }}">última &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}